.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* antes estava min-height: 80vh */
  background-color: #0d0d0d;
  color: #fff;
}


.profile-card {
  background-color: #1a1a1a;
  padding: 40px 60px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 450px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #e50914;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-card h2 {
  font-size: 24px;
  color: #e50914;
  margin-bottom: 10px;
}

.profile-email {
  font-size: 15px;
  color: #bbb;
  margin-bottom: 10px;
}

.profile-bio {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ddd;
  line-height: 1.5;
}

.logout-btn {
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.logout-btn:hover {
  background-color: #f6121d;
}

.loading {
  text-align: center;
  color: #ccc;
  margin-top: 50px;
  font-size: 18px;
}
